html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #494949;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  background-image: url(./img/background_2.jpg);
  background-size: cover;
}

#avatar {
  width: 200px;
  height: 200px;
  background-image: url(./img/myAvatar.png);
  background-size: cover;
  border-radius: 150%;
  border: 4px solid #fff;
}
.header-title h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.header-title p {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.header-title p i {
  color: #fff;
  margin: 0 10px;
}
.header-title p i:hover {
  color: #494949;
}
.header-title a {
  color: #fff;
}
.header-title a:hover {
  color: #494949;
}

section {
  margin: 0 auto;
  padding: 0 40px;
  width: 85%;
}

section h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #494949;
  font-size: 2rem;
}
#courses,
#skills,
#edu,
#exp {
  border-bottom: 1px solid #c4c4c4;
}
.courses-container,
.conteiner-edu,
.conteiner-exp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 60px 0;
}
@media (min-width: 868px) {
  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 60px 0;
  }
}
@media (max-width: 868px) {
  .skills-container h3 {
    margin-top: 40px;
  }
}
.skills-container h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
section#contact {
  padding: 20px 7.5%;

  background-color: #494949;
}
#contact h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #5dc3dc;
}
#contact p {
  display: block;
  width: 90%;
  font-size: 1.5rem;
  margin: 0;
  color: #fff;
  padding: 1rem 0;
}
#contact i {
  margin: 0 10px;
  color: #5dc3dc;
}

#contact i:hover {
  color: #fff;
}
#contact a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #5dc3dc;
  padding-bottom: 4px;
}
#contact a:hover {
  color: #fff;
}

.skills-container div {
  margin: 0 40px;
}
.skills-container ul {
  list-style-image: url(./img/ulstyle.jpg);
}
.skills-container ul li {
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.course-name,
.exp-name,
.edu-name {
  font-size: 1.1rem;
  padding: 0 10px;
  line-height: 1.6rem;
  width: 25%;
}

.course-description,
.exp-decription,
.edu-decription {
  border-left: 2px solid #5dc3dc;
  padding: 0 10px;
  font-size: 1rem;
  line-height: 1.6rem;
  width: 65%;
}

footer {
  background-color: #494949;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  text-align: right;
}
#go-top {
  display: block;
  font-size: 0.5rem;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);

  border: 1px solid #fff;

  padding: 10px;
  width: 25px;
  line-height: 2px;
  border-radius: 150%;
  transition-duration: 0.4s;
}
#go-top:hover {
  background-color: #fff;
  color: #494949;
  cursor: pointer;
  border: 1px solid #fff;
  transition-duration: 0.4s;
}
